#app {
  width: 90%;
  min-width: 1280px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#app-header {
  display: flex;
  height: 100px;
  width: 100%;
  min-width: 1280px;
  background-size: cover;
  background-image: url('images/alliancebanner1.jpg');
  color: #69f;
  font-size: 36px;
  user-select: none;
  align-items: center;
  justify-content: space-between;
}

  ::deep #app-header h3 {
    align-self: center;
    margin: 0 40px;
    cursor: pointer;
  }

#app-table {
  width: 100%;
  min-width: 1280px;
  border-collapse: collapse;
  border: 4px;
  table-layout: fixed;
}

::deep tr {
  height: 50px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
}
