@page "/"

<main id="app">
  <div id="app-header">
    <h3 style=@this.CheckHighlightStyle(GlobalFilter.ALL) onclick=@this.CommunityClickHandler>Безжалостный Борей</h3>
    <h3 style=@this.CheckHighlightStyle(GlobalFilter.GUILD) onclick=@this.GuildClickHandler>Тайны подвала ШРУ</h3>
  </div>
  <table id="app-table">
    <TableHeader />
    <TableData GlobalFilter=@GlobalFilter />
  </table>
</main>

@code {
  private static Action OnGlobalFilterChange;

  private static GlobalFilter globalFilter = GlobalFilter.ALL;

  private static GlobalFilter GlobalFilter
  {
    get
    {
      return globalFilter;
    }
    set
    {
      if (globalFilter != value)
      {
        globalFilter = value;
        OnGlobalFilterChange?.Invoke();
      }
    }
  }

  private bool isSubscribed;

  protected override void OnInitialized()
  {
    if (!this.isSubscribed)
    {
      OnGlobalFilterChange += this.StateHasChanged;
      this.isSubscribed = true;
    }
  }

  private Action CommunityClickHandler = new Action(() =>
  {
    GlobalFilter = GlobalFilter.ALL;
  });

  private Action GuildClickHandler = new Action(() =>
  {
    GlobalFilter = GlobalFilter.GUILD;
  });

  private string CheckHighlightStyle(GlobalFilter filter)
  {
    var weight = GlobalFilter == filter ? "bold" : "normal";
    return $"font-weight: {weight};";
  }
}
