#table-header {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

  ::deep #table-header th {
    height: 50px;
    width: 50px;
    padding: 0;
    border: 4px;
    border-style: solid;
    border-bottom-width: thick;
    border-color: rgb(0, 0, 0);
  }

    ::deep th:nth-child(2) {
      padding-left: 25px;
    }

::deep .table-header-sort-column-selected {
  text-shadow: 0 0 black;
}

#portrait-column {
  width: 50px;
}
