.character-card {
    width: 700px;
    height: 400px;
}

.character-card-image {
    width: 200px;
    height: 200px;    
    border-bottom: solid black 2px;
}

.character-card-header {
    height: 33px;
    font-size: 28px;    
    padding-left: 10px;
    border-bottom: solid black 2px;
}

.character-card-main {
    display: flex;
}

.character-card-side {
    display: flex;    
    flex-direction: column;
    border-right: solid black 2px;
    width: 200px;
}

.character-card-side-data {    
    border-bottom: solid black 2px;
    display: flex;
    justify-content: space-between;
}

.character-card-side-data-placeholder {
    background-color: blue;
}
