@inherits LayoutComponentBase

<div id="main-layout">
  @Body
  <div id="footer-message">
    <span>Если кого-то не хватает - напишите Менелосу</span>
    <span>Предложения по улучшению - тоже к Менелосу</span>
  </div>
</div>
